#all-filters-text {
  border-bottom: inherit;
  padding: 8px;
  font-weight: 600;
  font-size: larger;
  color: #212328;
}

#prices-filter {
  padding: 8px;
}

#prices-text {
  font-weight: bold;
  color: #212328;
}
