.card {
  border-radius: 35px;
  width: 200px;
  font-family: Tahoma, Verdana, sans-serif;
  box-shadow: 0px 1px 17px rgba(0,0,0,0.09);
  border-color: white;
}

#cover-picture {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 35px;
}

img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 35px 35px 0 0;
}

h6 {
  font-size: 15px;
  color: #3A3B3C;
}

