<app-header [isCart]="true"></app-header>
<div class="container cart">
  <h3>Cart</h3>
  <div class="cart-item" *ngFor="let book of books">
    <div class="cart-content">
      <div class="cover-and-description">
        <span><img [src]="book.pictureUrl"></span>
        <div class="description">
          <div>Title: {{ book.title }}</div>
          <div>Authors: {{book.authors}}</div>
          <div>First published in {{book.publishYear}}</div>
        </div>
      </div>
      <div class="price">{{book.price}}$</div>
      <i class="bi bi-trash" (click)="deleteFromCart(book)"></i>
    </div>
  </div>
</div>
